# Data Type

In [ ]:

x = [1, 2, 3, 4]
type(x)

In [5]:
y = {1, 2, 3, 4}
type(y)

set

In [4]:
z = (1,2,3,4)
type(z)

tuple

In [6]:
i = 0
while(i != len(x)):
    print(x[i])
    i+=1

1
2
3
4

In [7]:
a = [1,2,3]
b = [9,8,7]
print(a+b)

[1, 2, 3, 9, 8, 7]

In [2]:
q = (1,2,3)
w = (9,8,7)
print(q+w)

(1, 2, 3, 9, 8, 7)

In [3]:
m = {1,2,3,4}
n = {7,8,9}
print(m+n)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

# String Slicing

In [67]:
x = 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])
print(x[:4])
print(x[5:])
print(x[-1])
print(x[-4:-2])

T
T
Th
This
is a string
g
ri

In [51]:
firstName = "Hello"
lastName = "World"
print(firstName + " " + lastName)
print("Hello" in firstName)

Hello World
True

In [92]:
x = 'abubakkar siddik sajib'

a = x.split(' ')[0]
b = x.split(' ')[-1]

print(a+' '+b)

abubakkar sajib

In [12]:
#Write a function and apply it using map() to get a list of all faculty titles and last names (e.g. ['Dr. Brooks', 'Dr. Collins-Thompson', …]) ?
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    last_name = person.split()[-1]
    name = '{} {}'.format(title,last_name)
    return name

#list(map(split_title_and_name, people))
list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people)) #lambda

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

# Dictonary

In [6]:
x = {'name':'sajib','email':'sajib@gmail.com','age':23}
print(x['email'])

sajib@gmail.com

In [7]:
for i in x: #print the key
    print(i)
    
print("")
    
for value in x.values(): # print the value
    print(value)
    
print("")
    
for key,value in x.items(): # print the key value pair
    print(key,value)

name
email
age

sajib
sajib@gmail.com
23

name sajib
email sajib@gmail.com
age 23

In [12]:
#Nested Dictionary
d = {'k1': {'innerKey':[1,2,3,4]}}
print(d)

{'k1': {'innerKey': [1, 2, 3, 4]}}

In [13]:
d['k1']

{'innerKey': [1, 2, 3, 4]}

In [16]:
d['k1']['innerKey']

[1, 2, 3, 4]

In [17]:
d['k1']['innerKey'][1]

2

# Tuples Unpacking

In [39]:
x = ('sajib','sajib@gmail.com',23)
name, emai, age = x

print(name)
print(emai)
print(age)

sajib
sajib@gmail.com
23

In [41]:
x = ('sajib','sajib@gmail.com',23) 
name, emai, age, salary = x # can't use excessive key than values

ValueError: not enough values to unpack (expected 4, got 3)

In [42]:
a = [(4,5),(3,2),(8,7)]

In [48]:
for (i,j) in a:
    print(i)
    print(j)

4
5
3
2
8
7

# String

In [1]:
sales_record = {'price': 25,
               'item_no': 5,
               'person':'sajib'}

sales_statement = '{} bought {} at a price of {} each for a total of {}'
print(sales_statement.format(sales_record['person'],
                             sales_record['item_no'],
                             sales_record['price'],
                             sales_record['item_no'] * sales_record['price']))

sajib bought 5 at a price of 25 each for a total of 125

# CSV file read & write

In [19]:
import csv
#%precision 2

with open ('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:2]

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'}]

In [2]:
len(mpg)

234

In [3]:
mpg[0].keys() #all columns names

dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [21]:
avg_ciity = sum(float(d['cty']) for d in mpg) / len(mpg)
print(avg_ciity)

16.858974358974358

In [24]:
x = (1,1,2,3,4,5,6,5,1,9,11,23,11)
y = set(x) # all the unique values in the list
print(y)

{1, 2, 3, 4, 5, 6, 9, 11, 23}

In [32]:
vClass = set(c['class'] for c in mpg)
print(vClass)

{'minivan', 'suv', 'midsize', 'subcompact', 'compact', 'pickup', '2seater'}

# Dates & Times

In [15]:
import datetime as dt
import time as tm

In [16]:
tm.time()
mTime = tm.time()
print(mTime)

1635326208.1400416

In [17]:
dtNow = dt.datetime.fromtimestamp(tm.time())
print(dtNow)
dtNow

2021-10-27 15:16:48.821957

datetime.datetime(2021, 10, 27, 15, 16, 48, 821957)

In [18]:
dtNow.year, dtNow.month, dtNow.day, dtNow.hour, dtNow.minute, dtNow.second

(2021, 10, 27, 15, 16, 48)

In [19]:
delta = dt.timedelta(days = 60)
print(delta)

60 days, 0:00:00

In [20]:
today = dt.date.today()
print(today)

2021-10-27

In [21]:
x = today - delta
print(x)

2021-08-28

In [22]:
today > x

True

# Filter

In [26]:
seq =[1,2,3,4,5,6,7,14]
list(filter(lambda num: num%2 == 0, seq))

[2, 4, 6, 14]

# Objects and map()

In [1]:
class Person:
    department = "CSE"
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [2]:
person = Person()
person.set_name('Sajib')
person.set_location('Dhaka')
print('{} live in {} and studied in {}'.format(person.name, person.location, person.department))

sajib live in Dhaka and studied in CSE

In [4]:
# map()

def add(n): # Return double of n
    return n + n

num = (1,2,3,4)
result = map(add, num)
print(list(result))

[2, 4, 6, 8]

# Lamda function

In [6]:
my_function = lambda a, b, c : a + b + c

In [7]:
my_function(1,2,3)

6

In [3]:
#Write a function and apply it using map() to get a list of all faculty titles and last names (e.g. ['Dr. Brooks', 'Dr. Collins-Thompson', …]) ?
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    title = person.split()[0]
    last_name = person.split()[-1]
    name = '{} {}'.format(title,last_name)
    return name

#list(map(split_title_and_name, people))
list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people)) #lambda

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']

In [7]:
seq = [1,2,3,4,5]

In [10]:
list(map(lambda num: num*2, seq))

[2, 4, 6, 8, 10]

# List Comprehensions

In [17]:
my_list = [ ]
for num in range(0,20):
    if num % 2 == 0:
        my_list.append(num)

print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [18]:
# using list comprehension
my_list = [num for num in range(0,20) if num % 2 == 0]
print(my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [19]:
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [j*i for i in range(10) for j in range(10)]

True

In [3]:
# list all possible id using all two letters followed by two numbers (e.g. aa49).
letter = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

#using for loops
"""
for i in letter:
    for j in digits:
        for k in letter:
            for l in digits:
                print(i+k+j+l)
"""
#using list comprehension

ids = [i+j+k+l for i in letter for j in letter for k in digits for l in digits]
print(ids[:5]) # print first 5 items of the list

['aa00', 'aa01', 'aa02', 'aa03', 'aa04']

# Experiments

In [28]:
#convert a list into a sets
my_list = [1,2,3,4,4,4,2,2,1,6,7,8,8,9,5,1,14,13,12]
my_sets = set(my_list)
print(my_sets)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14}

In [1]:
i = 1

while i < 5:
    print('i is {}'.format(i))
    i += 1

i is 1
i is 2
i is 3
i is 4

In [2]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [ ]:
range # prss shift+Tab on the function name to see the functions descriptions

In [35]:
x = [1,2,3,4]
y = x.pop(0) # pop out the first item
x

3

In [36]:
'x' in [1,2,3]

False

In [37]:
'x' in ['x','y','z']

True

# Exercise 1.0

In [1]:
# What is 7 to the power of 4?
#output: 2401

In [2]:
7**4

2401

In [3]:
"""
Split this string:
s = "Hi there Sam!"
into a list. 
output: ['Hi', 'there', 'dad!']
"""

In [27]:
s = "Hi there Sam!"

my_list = [i for i in s.split()]
my_list[2]= "dad!"

print(my_list)

['Hi', 'there', 'dad!']

In [29]:
"""
Given the variables:

planet = "Earth"
diameter = 12742
Use .format() to print the following string: 
The diameter of Earth is 12742 kilometers.
output: The diameter of Earth is 12742 kilometers.
"""

'\nGiven the variables:\n\nplanet = "Earth"\ndiameter = 12742\nUse .format() to print the following string: \n\nThe diameter of Earth is 12742 kilometers.\n'

In [30]:
planet = "Earth"
diameter = 12742

print("The diameter of {} is {} kilometers.".format(planet, diameter))

The diameter of Earth is 12742 kilometers

In [31]:
#Given this nested list, use indexing to grab the word "hello"
#lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [128]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

In [ ]:
#Given this nested dictionary grab the word "hello".
#d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [83]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

In [ ]:
"""
Create a function that grabs the email website domain from a string in the form:
user@domain.com
So for example, passing "user@domain.com" would return: domain.com
"""

In [138]:
def domainGet(email):
    return email.split('@')[1]

domainGet('user@domain.com')

'domain.com'

In [ ]:
# Create a basic function that returns True if the word 'dog' is contained in the input string

In [147]:
def findDog(s):
    return 'dog' in s.lower().split():
    
findDog('This dog runs faster than the other dude!')

True

In [ ]:
#Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases.

In [103]:
def countDog(s):
    count = 0
    for word in s.lower().split():
        if word == "dog":
            count += 1
    return(count)
    
countDog('This dog runs faster than the other dog dog dude!')

['This', 'dog', 'runs', 'faster', 'than', 'the', 'other', 'dog', 'dog', 'dude!']

3

In [ ]:
"""
** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']
"""

In [104]:
seq = ['soup','dog','salad','cat','great']
list(filter(lambda s: s[0] == 's', seq))

['soup', 'salad']

In [ ]:
"""
You are driving a little too fast, and a police officer stops you. 
Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
If your speed is 60 or less, the result is "No Ticket". 
If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". 
Unless it is your birthday (encoded as a boolean value in the 
parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. 

"""

In [127]:
def caught_speeding(speed,is_birthday):
    if is_birthday == True:
        m_speed = speed-5
    else: 
         m_speed = speed
        
    if m_speed <= 60:
        print('No Ticket')
    elif m_speed in range(61,81):
        print('Small Ticket')
    elif m_speed >= 81:
        print('Big Ticket')

caught_speeding(86,True)

Big Ticket